
essay/pdf/

mobile/.env

generator/node_modules/
/essay/src/main.pdf
essay/.env
essay/node_modules/
essay/src/target.tex

mobile/src/translations/temp/

translate-server/node_modules/

browser-translate/node_modules/

translate-cache/node_modules/

backend2/node_modules/
backend2/dist/
backend2/.env

ai-proxy/node_modules/
