#
# SERVER
#
PORT=3000

#
# DATABASE
#
MONGO_URI=

#
# E-MAIL
#
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_FROM=
SMTP_USER=
SMTP_PASS=
EMAIL_BASE_URL=

#
# Token Management
#
JWT_SECRET=secret

#
# Object Storage
#
MINIO_ENDPOINT=
MINIO_PORT=
MINIO_USE_SSL=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_MEDIA_BUCKET=
MINIO_VIDEO_BUCKET=

#
# Push Notifications (OneSignal)
#
ONE_SIGNAL_USER_KEY=
ONE_SIGNAL_APP_KEY=

#
# Nominatim
#
NOMINATIM_URL=https://geo-api-lcl.saveworld.one

#
# OpenAI
#
OPENAI_TOKEN=

#
# GitHub
#
GITHUB_ACCESS_TOKEN=
GITHUB_REPOSITORY=USER/REPO
